/* ====== LAYOUT ===== */
* {
    box-sizing: border-box;
}

.both div {
    width: auto;
    height: auto;

    margin: 30px;
}

.search {
    display: flex;
    justify-content: center;

    margin: 20px;
}

.search div {
    padding: 20px;                 

    flex-grow: 0; 
    flex-shrink: 1; 
    max-width: 30%;
}

.features {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;

    margin: 20px;
}

.features div {
    padding: 20px;                 
    background-color: lightblue; 
    color: black;  
    border: 2px solid blue;        
    text-align: center; 
    
    flex-grow: 0; 
    flex-shrink: 1; 
    max-width: 30%;
  }

/* ====== FORMATTING ===== */

body {
    background-color: aliceblue;
    color: black
}

h1 {
    color: blue;
    font-size: 50px;
}

.search-box {
    background-color: blue;
    color: black;
    /* transition: transform 2s 0.25s ease; */
}

.search:hover {
    transform: scale(2);
}

.timezone {
}

.weather {
    background-color: blue;
    background-image: url("../img/cloudy-day.png");
    color: black;
}

.temperature {
}