/* Fonts */
.header {
    font-family: "Oleo Script Swash Caps", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.input {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: #333;
}


body {
    height: 100vh; /* Make the body cover the full viewport height */
    margin: 0; /* Remove default margin */
    background: linear-gradient(to bottom, #87cefa, #005f6a); /* Full-page gradient */
    color: #333;
}

.feature {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: #333;

    background-color: #f7f2e5;
    border: 5px solid #ffa07a;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-footer p {
    /* make text smaller */
    font-size: 0.7rem; 
}

.playlistButton {
    border-color: #ffa07a;
    background-color: #ffa07a;
}



